
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-block">
			<h2>Hi NovaWulf Team,</h2>
		</td>
  </tr>
	<tr>
		<td class="content-block">
			<h4>Today's trades</h4>
		</td>
  </tr>

  <% @trades.map do |text_line| %>
    <tr>
		  <td class="content-block">
        <%= text_line %>
		  </td>
    </tr>
  <% end %>	
	<tr>
		<td class="content-block">
			<h4>NovaWulf P&L by Strategy</h4>
		</td>
  </tr>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="content-block"><b>Strategy</b></td>
			<td class="content-block"><b>Daily P&L</b></td>
			<td class="content-block"><b>MTD P&L</b></td>
			<td class="content-block"><b>YTD P&L</b></td>
		</tr>

		<% @positions.map do |position| %>
			<tr>
				<% position.map do |cell| %>
					<td class="content-block">
						<%= cell %>
					</td>
				<% end %>	
			</tr>
		<% end %>	
	</table>
	<tr>
		<td class="content-block">
			Thanks,<br/>NovaWulf Dashboard
		</td>
	</tr>
</table>
