
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-block">
			<h2>Hi NovaWulf Team,</h2>
		</td>
  </tr>
  <% @text.map do |text_line| %>
    <tr>
		  <td class="content-block">
        <%= text_line %>
		  </td>
    </tr>
  <% end %>	
	  <tr>
		  <td class="content-block">
        You can view the latest chart data
				<%= link_to("here", "https://dashboard.novawulf.io", target: "_blank") %>.
		  </td>
    </tr>
	<tr>
		<td class="content-block">
			Thanks,<br/>NovaWulf Dashboard
		</td>
	</tr>
</table>
